* {
    margin: 0;
    padding: 0;
    font-size: 4vmin;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    transition: 1.2s;
    color: rgb(255, 255, 255);
}

body {
    width: 100vw;
    /* background-color: #0c2e33; */
    background-color: #000019;
    /* background-color: #6d8196; */
}

body::-webkit-scrollbar {
    display: none;
}

header {
    width: 100%;
    height: 15vmin;
    border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 10px 0px 50px 10px rgb(255, 0, 0);
    background-color: #000019;
    z-index: 1;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    position: sticky;
    top: 0;
}

header>.logo {
    width: 25%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header .logo .title {
    margin: 5% 0 0 5%;
}

.logo img {
    width: 10vmin;
    border-radius: 100%;
}

nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav .logo {
    display: none;
}

a {
    text-decoration: none;
}

nav .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav .nav a {
    font-size: 3vmin;
    padding: 0% 1% 1% 1%;
    display: flex;
    align-items: center;
    border-radius: 20%;
    text-align: center;
}
@media (min-width:700px) and (max-width:1220px){
    nav .nav a{
        font-size: 2vmin;
    }
    *{
        font-size: 3vmin;
    }
}
nav .nav a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 64, 64);
    transition: 0.6s;
}

.name {
    color: rgb(255, 72, 72);
}

header button {
    background-color: transparent;
    border: transparent;
}

main button {
    width: 45%;
    padding: 2%;
    border: 2px solid rgb(135, 92, 216);
    background-color: transparent;
    transition: all 2s;
}

main button:hover {
    background-color: #ff0000;
}

main {
    width: 100%;
    font-size: 5vmin;
}

#about {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
    padding: 5% 0 5% 0;
    /* box-sizing: border-box; */
    border-bottom: 2px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 12px 12px rgb(255, 255, 255); */
}

#about .title {
    width: 45%;
    /* padding: 5% 0 0 0; */
    height: 45%;
    overflow-x: auto;
}

#about .image {
    width: 50vmin;
    height: 50vmin;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    border-radius: 100%;
    background: url(https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif);
    // animation: colorchange 2s linear 0s infinite alternate;
    transition: 2s;
}

.typing {
    height: 20%;
}

#about .image img {
    width: 40vmin;
    position: absolute;
    bottom: 2%;
    left: 10%;
    transform: scale(1);
}
#about .image img:hover{
    bottom: 10%;
    transform: scale(1.3);
}
#about .image:hover {
    box-shadow: 0px 12px 20px 20px red;
    transform: scale(1.2);
}

#element {
    display: inline-block;
}

@media (min-width:100px) and (max-width:700px) {
    header {
        box-shadow: 0px 0px 50px 5px rgb(255, 0, 0);
    }

    header .logo {
        width: 45%;
    }

    nav {
        width: 20%;
        position: relative;
    }

    nav .logo {
        display: inline-block;
    }

    nav .nav a:hover {
        border-radius: 0;
    }

    nav .nav {
        display: none;
    }

    #shownavbar {
        width: 100%;
        /* background-color: red; */
        background-color: #25504c;
        position: absolute;
        display: flex;
        /* text-align: center; */
        /* transition: 1s; */
        flex-direction: column;
        align-items: center;
        /* right: 10%; */
        top: 100%;
    }

    #about {
        margin-top: 10%;
        /* justify-content: center; */
        flex-direction: column-reverse;
    }

    #about .title {
        width: 90%;
        padding: 8% 0 8% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
    }

    #about .image {
        /* margin: 5% 0 5% 0; */
        left: 20%;
    }
}

#work {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    border-bottom: 2px solid rgb(255, 255, 255);
}

#work>p {
    text-align: center;
    margin: 0 0 5% 0;
}

#work .buttons {
    display: flex;
    justify-content: space-evenly;
}

.work-data {
    width: 100%;
    padding: 8% 0 8% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.work-data p {
    width: 60%;
    padding: 2% 0 8% 0;
}

.work-data img {
    width: 35%;
    border-radius: 30%;
}

@media (min-width:100px) and (max-width:700px) {
    .work-data {
        flex-direction: column;
        justify-content: center;
    }

    .work-data p {
        width: 100%;
        padding: 8% 0 5% 0;
    }

    .work-data img {
        width: 90%;
        position: relative;
        left: 5%;
    }
}

#skill {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
}

.skills-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 0% 5% 5%;
    /* font-size: 2vmin; */
}

.skills-data div {
    width: 20%;
    padding: 2% 0 2% 0;
}

.skills-data div p {
    padding-top: 5%;
}

.skills-data>div:hover {
    transform: scale(1.5);
    transition: 2s;
}

.skills-data div img {
    width: 40%;
}

.skills-data div img:hover {
    filter: invert();
}

@media (min-width:100px) and (max-width:700px) {
    .skills-data div {
        width: 50%;
        padding: 8% 0 8% 0;
    }

    .skills-data div img {
        width: 50%;
    }
}

#project {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
}

.projects-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-data>div {
    width: 40%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    /* justify-content: center; */
    margin: 5%;
    transition: 1s;
}

.projects-data>div:hover {
    transform: scale(1.1);
}

.projects-data>div>p {
    margin: 5%;
}
.projects-data>div>p{
    word-spacing: 5px;
}
.projects-data>div>img {
    width: 90%;
    margin-top: 2%;
    border-radius: 10%;
    aspect-ratio: 1/1;
}

.projects-data>div>.link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects-data>div>.link>a>img {
    width: 30%;
    filter: invert();
    transition: 1s;
}

.projects-data>div>.link>a>img:hover {
    filter: drop-shadow(0 0 10px #ff0000);
}
@media (min-width:100px) and (max-width:700px){
    .projects-data>div{
        width: 100%;
    }
}
#contact {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid rgb(255, 255, 255);
}

#contact-data {
    display: flex;
    flex-direction: row;
    margin: 5% 0 5% 0;
}

#contact-data>img {
    width: 40%;
    background: #ffffff;
    border-radius: 30%;
    animation: contactimg 4s infinite linear;
}

#contact-data>form {
    width: 60%;
}

.input-fields {
    position: relative;
    margin: 2% 0 2% 0;
}

label {
    color: #000;
    position: absolute;
    left: 12%;
    top: 25%;
    pointer-events: none;
    transition: 0.5s;
}

textarea,
input {
    width: 80%;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    margin: 2% 0 2% 0;
    padding: 1% 0 1% 0;
    text-align: center;
    /* transition: 1s; */
    border: 2px solid rgb(135, 92, 216);
}

input:focus+label,
textarea:focus+label,
input:hover+label,
textarea:hover+label,.label-active {
    position: absolute;
    left: 12%;
    top: -10%;
    /* border-radius: 10%; */
    padding: 0 2% 0 2%;
    background: #0c2e33;
    color: #ffffff;
}


input[type="reset"],
input[type="submit"] {
    background: transparent;
    transition: 2s;
    color: #ffffff;
}

input[type="reset"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
    background: #ff0000;
    color: #000;
}

@media (min-width:100px) and (max-width:700px) {

    #contact-data {
        flex-direction: column;
    }

    #contact-data>form {
        width: 100%;
    }

    #contact-data>img {
        width: 100%;
        margin: 5% 0 5% 0;
    }

    textarea,
    input {
        padding: 2% 0 2% 0;
    }
}

footer {
    /* width: 10%; */
    margin: 5% 5% 2% 5%;
    display: flex;
    flex-direction: column-reverse;
}

#footer-item {
    width: 10%;
    position: fixed;
    bottom: 0%;
    left: 1%;
    display: flex;
    flex-direction: column;
}
#footer-item>a{
    width: 40%;
}
#footer-item>a>img {
    width: 100%;
    filter: invert();
}

@media (min-width:100px) and (max-width:700px) {
    #footer-item {
        bottom: 0;
        left: 2%;
    }

    #footer-item>a {
        width: 60%;
    }
}


@keyframes colorchange {
    0% {
        background: conic-gradient(#ff0000, #00ff00, #0000ff);
        /* background-color: #ff0000; */
    }

    25% {
        background: conic-gradient(#ff0000, #00ff00, #0000ff);
        /* background-color: #e5ff00; */
    }

    50% {
        background: conic-gradient(#0000ff, #ff0000, #00ff00);
        /* background-color: #00ff2a; */
    }

    75% {
        background: conic-gradient(#00ff00, #0000ff, #ff0000);
        /* background-color: #1800f5; */
    }

}

@keyframes contactimg {
    0% {
        transform: translateY(1.1);
    }

    25% {
        transform: translateY(1.2);
    }

    50% {
        transform: translateY(1.3);
    }

    75% {
        transform: translateY(1.2);
    }

}
